._62409d4c7,
.filter-bt {
    border-bottom: 1px solid #e5e7f2;
}

.ac6bdec376 {
    color: #566985;
    text-align: left;

    font-size: 13px;
    display: block;
    font-weight: 900;
    padding: 10px 0;
    margin-left: 15px;
}

._4abc4c3d5 {
    color: #566985;
    font-weight: 600;
    width: auto;
    font-size: 11px;
    float: right;
    margin-right: 15px;
}

.filter-list li:last-child {
    border-bottom: none !important;
}

.k-main .block_box {
    position: fixed;
    width: 26%;
}
