// .k-geodir-category-img:before {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 20px;
//     border-radius: 15px 15px 0 0;
//     background: #fff;
//     z-index: 3;
// }

.k-geodir-opt-list:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    bottom: -8px;
    width: 1px;
    background: #eee;
}

.geodir_category_img_wrap_img {
    transform: translateZ(0);
    transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.k-listing-item {
    padding: 0 8px 0 0;
}

.k-listing-item:nth-child(even) {
    padding: 0 0 0 8px;
}

a.bg-saved i {
    color: #4db7fe;
}
