.k-geodir-category-img:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    border-radius: 15px 15px 0 0;
    background: #fff;
    z-index: 3;
}
