.add-review-box {
    position: relative;
    & h3 {
        align-items: left;
        font-size: 14px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    & span {
        font-weight: bold;
    }

    & button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    & .text-error {
        color: red;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
    }
}
