#navigation ul ul li {
    width: 220px;
}

.nav_holder_nav_li_ul {
    margin: 30px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 200px;
    top: 50px;
    left: 0;
    z-index: 1;
    padding: 10px 0;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: all 0.2s ease-in-out;
    list-style: none;
}

.nav-holder ul .nav_holder_nav_li_ul li:not(:last-child) {
    border-bottom: 1px solid rgb(246, 246, 246);
}

.nav-holder ul .nav_holder_nav_li_ul.hu-menu-vis {
    opacity: 1;
    visibility: visible;
    top: 20px;
}

.k-main-header.relative {
    position: relative;

    & .nav-holder {
        position: absolute;
        right: 50%;
        transform: translateX(40%);
    }
}

.main-menu nav ul li a {
    float: left;
    padding: 10px 10px 5px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-transform: none;
    line-height: 25px;
    letter-spacing: 0px;
    color: #fff;
    transition: all 100ms linear;
    margin: 0 15px;
}

.main-menu nav ul li.active a {
    color: #4db7fe;
}

.main-menu nav ul li.active::before {
    background-color: currentcolor !important;
    border-radius: 1px !important;
    bottom: 8px !important;
    content: "" !important;
    height: 2px !important;
    left: 50% !important;
    margin-left: -9px !important;
    position: absolute !important;
    -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1), 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1), 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
        0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
    width: 10px !important;
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
    color: #4db7fe;
}
