#host-login .host-login-title {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: #336895;
}

#host-login {
    background-image: linear-gradient(45deg, #2cccff, #c850c0, #4158d0);
}
