// @import "../../../../assets/bookingdo/css/style.css";
// @import "../../../../assets/bookingdo/css/main-color.css";

._npr0qi {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    margin-top: 30px;
}

.k-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    position: relative;
    /* content: "\f00c"; */
    font-family: "FontAwesome";
    font-size: 18px;
    color: black;
    text-align: center;
    line-height: 15px;
    // background-color: #66676b;
    border: 2px solid transparent;
    transition: border-color 0s;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 3px;
    // font-weight: bolder;
}

#listing-overview .listing-overview {
    text-align: left;
    color: #878c9f;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
}

#wrapper h3.listing-desc-headline {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #566985;
    font-family: "Nunito", sans-serif;
}
