.k-edit {
    text-align: right;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}

._npr0qi {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    margin-top: 30px;
    // margin-bottom: 50px;
}

.checkup .checkup__detail,
.checkup > div {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.475rem;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.3s;
}

.checkup .grow {
    padding-right: 10%;
}

.is-flex .grow {
    flex: 1;
}

.checkup__title {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

h4 {
    font-weight: 900;
    margin-top: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.radius-xs {
    border-radius: 0.1875rem;
}

.bg-img--85 {
    padding-top: 62.5%;
}

.bg-img {
    width: 100%;
    background-position: 50%;
    background-color: #eee;
}

.bg-cover,
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

#booking_progressbar {
    margin-bottom: 30px;
    counter-reset: step;
    width: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;

    & li:first-child {
        width: 40px;
        position: absolute;
        left: 0;
        top: 0;
    }

    & li {
        list-style-type: none;
        color: #666;
        font-size: 12px;
        width: 33.3%;
        float: left;
        position: relative;
        text-align: center;
    }

    & li.active:before {
        width: 100%;
    }

    & li:before {
        background: #4db7fe;
    }

    & li:before {
        content: "";
        position: absolute;
        bottom: 50%;
        margin-bottom: -2px;
        width: 0;
        left: 0;
        height: 4px;
        z-index: 2;
        transition: all 200ms linear;
    }

    & li:after {
        content: "";
        position: absolute;
        bottom: 50%;
        width: 100%;
        margin-bottom: -2px;
        left: 0;
        height: 4px;
        border-radius: 4px;
        background: #e8e8e8;
        z-index: 1;
    }

    & li span {
        float: right;
        background: #e2e2e2;
        width: 40px;
        height: 40px;
        line-height: 32px;
        color: #fff;
        border-radius: 100%;
        position: relative;
        z-index: 10;
        font-weight: 500;
        border: 4px solid #fff;
        box-sizing: border-box;
        transition: all 200ms linear;
        transition-delay: 0.2s;
        box-shadow: 0 2px 16px rgb(58 87 135 / 15%);
    }

    & li.active span {
        background: #4db7fe;
    }

    & li.active:last-child span {
        background: #5ecfb1;
    }
}

.booking_form h2 {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    float: left;
    color: #566985;
    position: relative;
    top: 12px;

    & span {
        color: #4db7fe;
    }
}

.list-single-main-item-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding: 18px 0;
    position: relative;

    & h3 {
        text-align: left;
        font-size: 15px;
        font-weight: 600;
        color: #566985;
        font-family: "Nunito", sans-serif;
    }
}

.success-table-header {
    text-align: left;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 0 70px;

    & i.decsth {
        color: #5ecfb1;
        position: absolute;
        font-size: 54px;
        left: 0;
        top: 0;
    }

    & h4,
    & p {
        float: left;
    }

    & h4 {
        font-size: 16px;
        font-weight: 600;
        color: #666;
        margin-bottom: 0;
    }

    & p {
        text-align: left;
        color: #878c9f;
        font-size: 12px;
        line-height: 24px;
        padding-bottom: 10px;
    }

    & a {
        font-size: 12px;
        color: #fff;
        padding: 12px 25px;
        float: right;
        border-radius: 30px;
        position: relative;
        top: -14px;
        background: #4db7fe;
    }
}
.previous-form {
    float: left;
    background: #384f95;
}
.next-form {
    float: right;
    background: #4db7fe;
}

.action-button {
    padding: 12px 30px;
    font-size: 12px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 3%);
    border: 1px solid #eee;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
}

.bookiing-form-wrap {
    padding: 0 30px 20px;
}

.cart-booking-header {
    display: inline-table;
    // padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;

    & a.widget-posts-img {
        float: left;
        width: 30%;
        position: relative;

        & img {
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
    }

    & .widget-posts-descr {
        float: left;
        width: 70%;
        padding: 0 20px;

        & h4 {
            text-align: left;
            font-weight: 600;
            font-size: 15px;

            & a {
                color: #566985;
            }
        }

        & .geodir-category-location {
            & a {
                float: left;
                text-align: left;
                color: #999;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        & .widget-posts-descr-link {
            float: left;
            width: 100%;

            & a {
                float: left;
                margin-right: 4px;
                text-align: left;
                color: #7d93b2;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

.cart-list {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    &:last-child {
        border-bottom: none;
        // border-top: 1px solid #eee;
        // padding-top: 10px;
    }

    & span {
        color: #7d93b2;
        font-size: 14px;
        font-weight: 500;
    }
    &:last-child span {
        // font-weight: 700;
    }
}

.cart-total {
    margin-top: 15px;
    padding: 15px 35px;
    border-radius: 6px;
    overflow: hidden;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 100%;
    }
    &:before {
        left: 20px;
        bottom: -20px;
        opacity: 0.1;
    }

    &:after {
        right: 70px;
        top: -10px;
        opacity: 0.2;
    }

    & span {
        float: left;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }

    & strong {
        float: right;
    }
}

.breadcrumbs.block-breadcrumbs {
    background: #fff;
    border: 1px solid #e5e7f2;
    // border-top: none;
    padding: 30px 30px;
    border-radius: 6px;
}

.breadcrumbs.inline-breadcrumbs {
    margin-bottom: 30px;
}

.breadcrumbs {
    z-index: 50;
    position: relative;
}

.cart-details-item-header {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    color: #566985;
    font-size: 14px;

    & h3 {
        font-weight: bold;
        color: #566985;
        font-size: 1.17em;
    }
}
