.k-edit {
    text-align: right;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}

._npr0qi {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    margin-top: 30px;
    margin-bottom: 50px;
}
