.k-title-tf input {
    box-shadow: none !important;
    border: none !important;
    height: 1.1876em !important;
    padding: 26.5px 14px;
    margin: 0 !important;
}

.mt-8 {
    margin-top: 0.8rem !important;
}

.mb-16 {
    margin-bottom: 0.16rem !important;
}

.k-desc-tf textarea,
.k-desc-tf textarea:focus {
    border: none !important;
    box-shadow: none !important;
}
