.main-footer {
    background: #325096;
    overflow: hidden;
    z-index: 6;
    margin-top: 50px;

    & .footer-inner {
        padding: 20px 0 0px;
        overflow: hidden;

        & .container {
            max-width: 1224px;
            width: 92%;
            margin: 0 auto;
            position: relative;
            z-index: 5;
        }
    }

    & .footer-contacts {
        margin-top: 15px;

        & li {
            float: left;
            text-align: left;
            min-width: 250px;
            padding: 11px 15px;
            font-size: 13px;
            font-weight: 500;
            background: rgba(255, 255, 255, 0.11);
            border-radius: 30px;
            margin-bottom: 12px;
        }

        & li span {
            color: rgba(255, 255, 255, 0.51);
        }

        & li i {
            padding-right: 7px;
        }

        & li a {
            color: rgba(255, 255, 255, 0.81);
            padding-left: 4px;
        }
    }

    & .footer-wave {
        position: absolute;
        bottom: -160px;
        width: 100%;
        left: 0;
        z-index: 2;
        height: 400px;
        opacity: 0.06;
    }

    & .sub-footer {
        padding: 18px 0;
        background: #253966;

        & .container {
            max-width: 1224px;
            width: 92%;
            margin: 0 auto;
            position: relative;
            z-index: 5;

            & .copyright {
                color: #fff;
                text-align: left;
                font-weight: 500;
                position: relative;
                top: 0px;
                font-size: 12px;
                float: left;
            }

            & .footer-social {
                // margin-top: 24px;
                float: right;

                & span {
                    margin-right: 15px;
                    margin-left: 15px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 600;
                    float: left;
                }

                & ul {
                    float: left;
                    margin-bottom: 0 !important;
                }

                & li {
                    margin-right: 10px;
                    float: left;

                    & a {
                        color: #4db7fe;
                        font-size: 13px;
                        float: left;
                    }
                }
            }
        }
    }
}
