.wrap-title-header {
    padding: 12px 20px;
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e7f2;
}

.css-26l3qy-menu {
    z-index: 50 !important;
}

.css-qc6sy-singleValue {
    color: #7d93b2 !important;
    font-weight: 500 !important;
}

.css-tlfecz-indicatorContainer {
    color: #4db7fe !important;
}
