.edit-profile-photo.k-edit-avatar {
    margin-left: 10px;
}

.edit-profile-photo.k-edit-avatar img {
    border-radius: 50%;
    max-width: 120px;
}

.change-photo-btn.k-change-photo-btn {
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: -5px;
    background: #4db7fe;
}
