.k-wrap {
    width: 100%;
    height: auto;
}

.k-header {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
}

.k-left-side {
    // display: flex;
    // justify-content: center;
}

.k-right-side {
    & .k-property-description {
        width: 100%;
        display: inline-block;
        background-color: red;
    }

    & .k-property-content {
        width: 99%;
        background-color: greenyellow;
        float: right;
        height: 100%;
    }
}

.k-property-type {
    padding-bottom: 20px;
    width: 90%;

    & h5 {
        font-size: 15px;
    }
}

.k-dropdown {
    width: 90%;
}

.k-next.disable {
    background-color: #c5c5c5;
}
