.dashboard-message-text .avatar-radius {
    border-radius: 50%;
}

.abc {
    position: relative;
    height: 100%;
    display: flex;
    align-items: top;

    & .user-booking-info {
        // margin-left: -45px;
        font-family: "Roboto";
        float: left;
        // background-color: red;
    }

    & .user-booking-info .user-name-booking {
        font-weight: 600;
        font-size: 14px;
        padding-bottom: 20px;
        color: #50596e;

        & span {
            color: #4db7fe;
        }
    }

    & .user-booking-info .booking-details {
        & .booking-title {
            color: #999;
            padding-right: 10px;
        }

        & .booking-text,
        & .booking-text a {
            color: #7d93b2;
        }
    }
}

.dashboard-message.r-item {
    position: relative;
    height: 96px;
}

.dashboard-message .k-booking-status {
    height: 50px;
    float: right;
    width: 120px;
    position: absolute;
    right: 0;
    // top: 50%;
    // transform: translateY(-50%);

    & .status-text {
        display: block;
        padding: 2px 0px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        border: 2px solid #fff;
    }

    & .booking-price {
        width: 100%;
        text-align: center;
    }
}
