.add-bed-type {
    margin: 30px 0 0 0;
    display: flex;

    & .bed-info {
    }

    & .add-bed-button {
        float: right;
        margin-left: auto;
    }

    & .add-bed-button button {
        width: 90px;
        font-weight: 500;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px solid #838283;
        color: #3d3d3e;
        position: relative;
        top: 10px;
    }

    & .bed-info .bed-name {
        font-weight: 300;
        margin-bottom: -7px;
        color: #3d3d3e;
    }

    & .bed-info .bed-count {
        font-weight: 300;
        color: #838283;
    }
}
