.add-bed-type {
    margin: 10px 0 0 0;
    display: flex;

    & .bed-info {
    }

    & .add-bed-button {
        float: right;
        margin-left: auto;
    }

    & .add-bed-button button {
        width: 90px;
        font-weight: 500;
        padding: 5px 0px;
        border-radius: 5px;
        border: 1px solid #838283;
        color: #3d3d3e;
        position: relative;
        top: 10px;
    }

    & .bed-info .bed-name {
        font-weight: 600;
        margin-bottom: -7px;
        color: rgb(102, 102, 102);
        font-size: 15px;
    }

    & .bed-info .bed-count {
        font-weight: 400;
        color: #838283;
        text-align: left;
        font-size: 15px;
    }
}

._npr1df {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    margin: 20px 0;
    border-top-color: rgb(221, 221, 221);
}

.add_bed_type_box {
    // background-color: brown;
    margin-bottom: 20px;
}
