.firebaseui_container {
    // background-color: green;
}

.firebaseui-container {
    // background-color: blue !important;
    // max-width: 100%;
}
.firebaseui-card-content {
    padding: 0 !important;
    // background-color: yellow !important;
}
.firebaseui-card-content form {
    // background-color: pink !important;
}

.firebaseui-idp-button {
    max-width: 100% !important;
}

.firebaseui-idp-list {
    margin: 0 !important;
}

.firebaseui-idp-text.firebaseui-idp-text-long {
    display: block !important;
    text-align: center !important;
    margin-top: -18px !important;
}

.k-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);

    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 99999999;
}
