.label {
    border-radius: 4px;
    font-size: 95%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.label-danger {
    background: #ff5370;
}

.label-success {
    background: #3ac47d;
}

.label-info {
    background: #16aaff;
}